img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
    background-color: #71e959;
    border-color: rgb(229, 173, 173);
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	background-color: #fff;
	opacity: 0.8;
	padding: 20px;
}
.jumbotron {
    background-color: royalblue;
}
.jumbotron .h1{
    text-align: right;
}
